## Deliverable 2. Create a Customer Travel Destinations Map.

In [35]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [36]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Carnarvon,AU,-24.8667,113.6333,78.53,73,28,10.16,scattered clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,47.82,57,75,21.85,broken clouds
2,2,Faanui,PF,-16.4833,-151.7500,80.76,74,69,16.06,light rain
3,3,Kadom,RU,54.5592,42.4675,17.85,95,100,5.95,overcast clouds
4,4,Pangnirtung,CA,66.1451,-65.7125,-10.01,99,100,6.38,light snow

In [38]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 90

In [39]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Carnarvon,AU,-24.8667,113.6333,78.53,73,28,10.16,scattered clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,47.82,57,75,21.85,broken clouds
2,2,Faanui,PF,-16.4833,-151.7500,80.76,74,69,16.06,light rain
5,5,Bluff,NZ,-46.6000,168.3333,53.80,86,100,4.52,light rain
6,6,Sulangan,PH,11.1373,123.7228,80.06,80,97,11.01,overcast clouds
7,7,Avera,US,33.1940,-82.5271,75.07,59,100,12.21,overcast clouds
8,8,Dubai,AE,25.2582,55.3047,73.22,52,0,4.61,clear sky
9,9,Kodiak,US,57.7900,-152.4072,40.51,93,100,8.05,mist
10,10,Cayenne,GF,4.9333,-52.3333,78.84,90,100,2.30,light rain
11,11,Mogadishu,SO,2.0371,45.3438,77.23,82,33,21.77,scattered clouds

In [40]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                441
City                   441
Country                437
Lat                    441
Lng                    441
Max Temp               441
Humidity               441
Cloudiness             441
Wind Speed             441
Current Description    441
dtype: int64

In [41]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_city_df=preferred_cities_df.dropna()

In [42]:
clean_city_df.count()

City_ID                437
City                   437
Country                437
Lat                    437
Lng                    437
Max Temp               437
Humidity               437
Cloudiness             437
Wind Speed             437
Current Description    437
dtype: int64

In [43]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_city_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Carnarvon,AU,78.53,scattered clouds,-24.8667,113.6333,
1,Ushuaia,AR,47.82,broken clouds,-54.8000,-68.3000,
2,Faanui,PF,80.76,light rain,-16.4833,-151.7500,
5,Bluff,NZ,53.80,light rain,-46.6000,168.3333,
6,Sulangan,PH,80.06,overcast clouds,11.1373,123.7228,
7,Avera,US,75.07,overcast clouds,33.1940,-82.5271,
8,Dubai,AE,73.22,clear sky,25.2582,55.3047,
9,Kodiak,US,40.51,mist,57.7900,-152.4072,
10,Cayenne,GF,78.84,light rain,4.9333,-52.3333,
11,Mogadishu,SO,77.23,scattered clouds,2.0371,45.3438,

In [44]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Carnarvon,AU,78.53,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
1,Ushuaia,AR,47.82,broken clouds,-54.8000,-68.3000,Albatross Hotel
2,Faanui,PF,80.76,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
5,Bluff,NZ,53.80,light rain,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
6,Sulangan,PH,80.06,overcast clouds,11.1373,123.7228,Maia's Beach Resort
...,...,...,...,...,...,...,...
655,Bantry,IE,44.08,light rain,51.6833,-9.4500,The Maritime Hotel
659,Parole,US,54.25,mist,38.9796,-76.5305,DoubleTree by Hilton Hotel Annapolis
661,Sao Joao Da Barra,BR,74.71,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas
662,Dhidhdhoo,MV,80.08,few clouds,6.8833,73.1000,Dhidhoo beach
663,Qeshm,IR,60.69,clear sky,26.9581,56.2719,Qeshm Kavan Hotel

In [52]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()

In [53]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Carnarvon,AU,78.53,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
1,Ushuaia,AR,47.82,broken clouds,-54.8000,-68.3000,Albatross Hotel
2,Faanui,PF,80.76,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
5,Bluff,NZ,53.80,light rain,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
6,Sulangan,PH,80.06,overcast clouds,11.1373,123.7228,Maia's Beach Resort
...,...,...,...,...,...,...,...
655,Bantry,IE,44.08,light rain,51.6833,-9.4500,The Maritime Hotel
659,Parole,US,54.25,mist,38.9796,-76.5305,DoubleTree by Hilton Hotel Annapolis
661,Sao Joao Da Barra,BR,74.71,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas
662,Dhidhdhoo,MV,80.08,few clouds,6.8833,73.1000,Dhidhoo beach
663,Qeshm,IR,60.69,clear sky,26.9581,56.2719,Qeshm Kavan Hotel

In [60]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [61]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [64]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))